## Ignore everything:
/*
/*/

## ... but don't ignore these files:
!/.gitignore
!/LICENSE
!/NEWS.md
!/README.md
!/_quarto.yml
!/index.qmd
!/repub.Rproj
!/renovate.json
# !/.RProfile


## and also NOT ignore these folders (but ignore all of its content and only whitelist some files:):
!/.config/
/config/*
!/config/rstudio-prefs.json

!/.github/
/.github/*
!/.github/dependabot.yml

!/data/
/data/*
!/data/data1.csv

!/docker/
/docker/*
!/docker/docker-compose.y[a]ml
!/docker/Dockerfile
!/docker/README.md
!/docker/build_image.sh
!/docker/.env

!/docs/
/docs/*
!/docs/Reproducible-Publications.docx
!/docs/Reproducible-Publications.pdf

!/meta/
/meta/*
!/meta/ios-press-books.csl
!/meta/references.bib
!/meta/README.md

!/qmd/
/qmd/*
!/qmd/*.qmd

!/R/
/R/*
!/R/*.R


/.quarto/
